body {

    background-image: url(Libro2.jpeg);
    background-size: cover; 
    font-family: Arial, sans-serif;

}

.container2{

    width: 100%;
    height: auto;
    background-color: #171717;
    background-position: center;
    background-size: cover;
    padding-left: 0.1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    box-sizing: border-box;
    border-radius: 12px;

}

.navbar{

    height: 15%;
    display: flex;
    align-items: center;

}

.logo{

    width: 55px;
    cursor: pointer;
    border-radius: 20%;

}

nav{

    flex: 1;
    text-align: right;

}

nav ul li{

    list-style: none;
    display: inline-block;
    margin-left: 60px;

}

nav ul li a{

    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    
}

nav ul li a:hover{

    color: red;
    transition: 0.6s;

}

.container {

    max-width: 600px;
    margin: 50px auto;
    background-color: #171717;
    padding: 20px;
    border-radius: 8px;
   
}

h1 {

    text-align: center;
    color: whitesmoke;

}

p{

    color: whitesmoke;
}

.contattInfo {

    margin-top: 20px;

}